body { 
    font-family: Arial, sans-serif;
    max-width: 800px;margin: auto; 
}

    input, button { 
        margin: 10px 0; 
        padding: 8px; 
        width: 100%; 
    }
    
    canvas {
         margin-top: 30px; 
        }